* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #0a3c2f, #003d31, #002e2a);

}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.05);
    padding: 40px 60px;
    border-top-left-radius: 5em;
    border-bottom-right-radius: 5em;
}

h2 {
    font-size: 3em;
    color: #fff;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.reset {
    padding: 15px 20px;
    text-transform: uppercase;
    background: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-weight: 600;
    color: #267c65;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
        0 1px 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.reset:focus {
    color: #fff;
    background: #267c65;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3),
        0 1px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(1px);
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #fff;
    transition: 0.25s;
    transform: rotateY(180deg);
    cursor: grab;
}
.item.boxOpen{
    transform: rotateY(0deg);
}
.item::after{
    content: '';
    position: absolute;
    inset: 0;
    background: #209d70;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.boxOpen::after,
.boxMatch::after{
    transform: rotateY(180deg);
}
.win{
    color: #ffff00;
}